@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.details {
  font-family: "Roboto Mono";
  text-align: right;
  font-size: 9px;
}

.line {
  white-space: nowrap;
}

.table-dna {
  word-break: break-all;
  font-size: 9px;
  text-align: left;
}

.table-id {
  width: 70px;
}

.table-status {
  width: 120px;
}

.table-date {
  width: 190px;
}

.table-squish{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
